


/* width and height of google map */
#map {width: 83%; height: 500px;margin-top:0px;margin-left:auto;margin-right:auto;}

/* Marker Edit form */
.marker-edit {width: 300px; height: 280px;}
/* Marker Info Window */
.marker-info-win {width: 300px; height: 150px;}
}