<div id="login" class="row">
    <div class="large-6 large-offset-3">
        <h3>Missing Login</h3>
    </div>

    <div class="large-6 large-offset-3">
            <div class="row">
            <div class="large-12 columns">
                <div id="flash" class="alert-box alert" ng-show="flash"></div>
            </div>
            </div>
            <form ng-submit="login()">
            <fieldset class="radius">
                <div class="row">
                <div class="large-6 columns">
                <input type="text" name="email" placeholder="Ingresar el correo" ng-model="credentials.email" required/>
                </div>

                <div class="large-6 columns">
                <input type="password" name="password" placeholder="Ingresar el password" ng-model="credentials.password" required/>
                </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" class="button large expand radius">Login</button>
                    </div>
                </div>
            </fieldset>
            </form>
    </div>
    <div class="large-6 large-offset-3">
         <fieldset class="radius">
                <div class="row">
                    <div class="large-12 columns">
                        <a class="button large expand radius" href="#">Login with Facebook</a>
                    </div>
                </div>
            </fieldset>
    </div>
</div>