<div class="row">
  <div class="col-md-4">
    <div role="tabpanel">
  <!-- Nav tabs -->
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="pointer active">
      <a data-active="ult-missing" id="tab-ult-miss" role="tab" data-toggle="tab">
      <i class="fa fa-arrows-alt"></i> Cercanos 
      </a>
    </li>
    <li role="presentation" class="pointer">
      <a data-active="mis-missing" id="tab-mis-miss" role="tab" data-toggle="tab">
       <i class="fa fa-th-large"></i> Mios 
      </a>
    </li>
    <li role="presentation" class="pointer">
      <a data-active="sig-missing" id="tab-sig-miss" role="tab" data-toggle="tab">
      <i class="fa fa-check-square-o"></i>  Siguiendo 
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="ult-missing">
    <nav  class="" role="navigation">
          <div class="panel panel-default">
            <div class="panel-heading">Missing Cercanos a tu ubicación</div>
            <div ng-if="datosProximos.length > 0">
                  <div class="panel-body">
                    <div class="input-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-click="checkPin()" id="check-objeto" >
                            Objetos<img  src="img/pin-1_blue.png" title="objeto"/>
                          </label>
                          <label>
                            <input type="checkbox" ng-click="checkPin()" id="check-animal" >
                            Animales<img id="check-animal" src="img/pin-1_green.png" title="animal"/>
                          </label>
                          <label>
                            <input type="checkbox" ng-click="checkPin()" id="check-persona" >
                            Personas<img id="check-persona"  src="img/pin-1_orange.png" title="persona"/>
                          </label>
                        </div>
                    </div>
                      <div class="input-group">
                         <!-- <span class="input-group-addon">Buscar</span>
                          <input type="text" class="form-control" placeholder="Nombre a buscar..." ng-model="Mibuscador" />-->
                      </div>
                         <ul class="list-group">
                            <li class="paginationclass buscamissing pointer list-group-item" ng-repeat="data in datosProximos | filter:Mibuscador | pagination: curPageProx * pageSizeProx | limitTo: pageSizeProx"
                            data-lat="{{ data.latitud_objeto }}" data-lng="{{ data.longitud_objeto }}">
                              <h4 class="list-group-item-heading">{{ data.nombre_objeto }}</h4>
                               <span>{{ data.tipo }}</span>
                               <button ng-show="isLoggin" ng-if="data.seguido == 1" class="btn btn-xs btn-info pull-right btn-siguiendo" id="btn-{{data.id}}" title="Seguir" ng-click="dejarSeguir(data.id)">Siguiendo</button>
                               <button ng-show="isLoggin" ng-if="data.seguido == 0" class="btn btn-xs btn-default pull-right btn-seguir" id="btn-{{data.id}}" title="Seguir" ng-click="seguir(data.id)"><i class="fa fa-check-square-o"></i>  Seguir </button>
                             </li>
                          </ul>
                          <div class="btn-group" role="group" aria-label="..." ng-show="datosProximos.length > pageSizeMios">
                            <button type="button" class="btn btn-primary" 
                                ng-disabled="curPageProx == 0"
                                ng-click="curPageProx=curPageProx-1"><i class="fa fa-step-backward"></i></button>
                            <button type="button" class="btn btn-default">Página {{curPageProx + 1}} de {{ numberOfPagesProx() }}</button>
                            <button type="button" class="btn btn-primary" 
                              ng-disabled="curPageProx >= datosProximos.length/pageSizeProx - 1"
                              ng-click="curPageProx = curPageProx+1"><i class="fa fa-step-forward"></i></button>
                          </div>
                  </div>
                </div>
                <div ng-if="datosProximos.length <= 0">
                  <div class="panel-heading">
                    No se encontraron Missing cercanos.
                  </div>
                </div>
        </div>
        </nav>    
  </div>
    <div role="tabpanel" class="tab-pane fade in" id="mis-missing">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">Mis Missing</div>
            <div ng-if="misDatos.length > 0">
                  <div class="panel-body">
                      <div class="input-group">
                         <!-- <span class="input-group-addon">Buscar</span>
                          <input type="text" class="form-control" placeholder="Nombre a buscar..." ng-model="Mibuscador" />-->
                      </div>
                         <ul class="list-group">
                            <li class="paginationclass buscamissing pointer list-group-item" ng-repeat="data in misDatos | filter:Mibuscador | pagination: curPageMios * pageSizeMios | limitTo: pageSizeMios"
                            data-lat="{{ data.latitud_objeto }}" data-lng="{{ data.longitud_objeto }}"> 
                               <span>{{ data.nombre_objeto }}</span>
                             </li>
                          </ul>
                          <div class="btn-group" role="group" aria-label="..." ng-show="misDatos.length > pageSizeMios">
                            <button type="button" class="btn btn-primary" 
                                ng-disabled="curPageMios == 0"
                                ng-click="curPageMios=curPageMios-1"><i class="fa fa-step-backward"></i></button>
                            <button type="button" class="btn btn-default">Página {{curPageMios + 1}} de {{ numberOfPagesMios() }}</button>
                            <button type="button" class="btn btn-primary" 
                              ng-disabled="curPageMios >= misDatos.length/pageSizeMios - 1"
                              ng-click="curPageMios = curPageMios+1"><i class="fa fa-step-forward"></i></button>
                          </div>
                  </div>
                </div>
                <div ng-if="isLoggin == false">
                  <div class="panel-heading">
                    <a class="iniciar-sesion pointer">
                      Inicia sesión
                    </a> 
                    para cargar tus datos.
                  </div>
                </div>
                <div ng-if="misDatos.length <= 0 && isLoggin == true">
                  <div class="panel-heading">
                    Haz click derecho en el mapa para ingresar un Missing perdido.
                  </div>
                </div>
        </div>
    </div>
      
    </div>
  <div role="tabpanel" class="tab-pane fade" id="sig-missing">
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">Missing que sigo</div>
            <div ng-if="misSeguidos.length > 0">
                  <div class="panel-body">
                     <!-- <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input type="text" class="form-control" placeholder="Nombre a buscar..." ng-model="Mibuscador" />
                      </div>-->
                         <ul class="list-group">
                            <li class="paginationclass buscamissing pointer list-group-item" ng-repeat="data in misSeguidos | filter:Mibuscador | pagination: curPageSig * pageSizeSig | limitTo: pageSizeSig"
                            data-lat="{{ data.latitud_objeto }}" data-lng="{{ data.longitud_objeto }}"> 
                               <span>{{ data.nombre_objeto }}</span>
                               <button ng-show="isLoggin" class="btn btn-xs btn-info pull-right btn-siguiendo" id="btn-{{data.id}}" title="Seguir" ng-click="dejarSeguir(data.id)">Siguiendo</button>
                             </li>
                          </ul>
                          <div class="btn-group" role="group" aria-label="..." ng-show="misSeguidos.length > pageSizeSig">
                            <button type="button" class="btn btn-primary" 
                                ng-disabled="curPageSig == 0"
                                ng-click="curPageSig=curPageSig-1"><i class="fa fa-step-backward"></i></button>
                            <button type="button" class="btn btn-default">Página {{curPageSig + 1}} de {{ numberOfPagesSig() }}</button>
                            <button type="button" class="btn btn-primary" 
                              ng-disabled="curPageSig >= misSeguidos.length/pageSizeSig - 1"
                              ng-click="curPageSig = curPageSig+1"><i class="fa fa-step-forward"></i></button>
                          </div>
                  </div>
                </div>
               <div ng-if="isLoggin == false">
                  <div class="panel-heading">
                    <a class="iniciar-sesion pointer">
                      Inicia sesión
                    </a> 
                    para cargar tus datos.
                  </div>
                </div>
                <div ng-if="misSeguidos.length <= 0 && isLoggin == true">
                  <div class="panel-heading">
                    Aun no haz seguido ningun Missing.
                  </div>
                </div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
  <div class="col-md-8 container-maps">
    <div id="map" class="google-maps">
        <img class="loader" src="img/gif/ajax-loader.gif">
    </div>
  </div>
</div>   
<!-- Modal Confirm delete -->
<div ng-include="modalconfirmdelete"></div>
<!-- Modal Share Missing -->
<div ng-include="modalshare"></div>      
<!-- Modal Login -->
<div ng-include="modallogin"></div> 
<!-- Modal Agregar Datos Missing-->
<div ng-include="modalagregadatos"></div> 
<!-- Modal Detalles-->
<div ng-include="modaldetalles"></div>
<!-- Modal loading-->
<div ng-include="modalloading"></div>
<!-- Modal crear usuario es creado-->
<div ng-include="modalcrearusuarioescreado"></div>
<!-- Modal crear usuario-->
<div ng-include="modalcrearusuario"></div>

