<link rel="stylesheet" href="../css/marker.css">
<!--Script&Style de la pagina-->
<div class="row">

    <div  class="large-9 columns">
            <div id="map"></div>
    </div>
    <div class="large-3 columns">
        <label>Filtra tu búsqueda: </label>
        <input type="text" ng-model="buscador" />
        <label>Establece un orden: </label>
        <select ng-model="tipoOrden">
            <option value="">Ordena por Id</option>
            <option value="id">Ascendente</option>
            <option value="-id">Descendente</option>
        </select>
    </div>
    <div class="large-3 columns">
    <h1 class="subheader">Buscar Missing</h1>
    <ul class="side-nav">
        <li  ng-repeat="data in datos|filter:buscador|orderBy:tipoOrden" class="callout radius">
            <a class="buscamissing" data-lat="{{ data.latitud_objeto }}" data-lng="{{ data.longitud_objeto }}">
            <p>Nombre: {{ data.nombre_objeto }}</p>
            <!--<p>Descripcion: {{ data.descripcion_objeto }}</p>-->
            </a>
        </li>
    </ul>
    </div>
</div>
<div class="row">
    
</div>