<div id="create-user-logged" class="row" class="col-md-12">
    <div class="col-md-6 col-md-offset-3 loader">
        <h3>Detalles del Missing.</h3>
           <table class="table table-bordered">
            <tr>
              <td>Imagen</td>
              <td>
                <img id="img_objeto" class="img-rounded" height="200" width="200" />
              </td>
            </tr> 
            <tr>
              <td>Ubicación</td>
              <td>
              <img src="" id="ubicacion" class="img-rounded" height="200" width="200" />
              </td>
            </tr> 
            <tr>
              <td>Descripción</td>
              <td id="desc_objeto"></td>
            </tr> 
            <tr>
              <td>Creado por</td>
              <td id="usuario_objeto"></td>
            </tr> 
            <tr>
              <td>Tipo</td>
               <td id="tipo"></td>
            </tr>
            <tr>
              <td>Dirección</td>
               <td id="dir_objeto"></td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td id="fecha_objeto"></td>
            </tr>
          </table>
    </div>
</div>