<div class="row" class="col-md-12">
  <div class="col-md-12" ><h3 class="text-center">Detalles del Missing.</h3></div>
  <div class="col-md-12" >
  <div class="col-md-4" >
  <a href="" class="btn btn-default btn-lg active show-foto" data-id="" role="button">
    <img id="img_objeto" class="img-rounded"  height="300" width="300" />
  </a>
  <table>
    <tr>
      <td>
       <h4 class='text-primary'>Comparte con tus amigos:</h4>
      </td>
    </tr>
    <tr>
    <td>
      <div class="form-group">
        <a data-id="" class="btn btn-primary share share-fb" target="_blank" alt="Share on Facebook"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
    </td>
    <td>
      <div class="form-group">
        <a data-id="" class="btn btn-info share share-tw" target="_blank" alt="Share on Twitter"><i class="fa fa-twitter"></i> Twitter</a>
      </div>
    </td>
    <td>
      <div class="form-group">
        <a data-id="" class="btn btn-danger share share-go" target="_blank" alt="Share on Google+"><i class="fa fa-google-plus"></i> Google+</a>
      </div>
    </td>
    </tr>
  </table>
  </div>
  <div class="col-md-4">
    <table class="table">
            <tr class="info">
              <td>
                Creado Por:
              </td>
              <td id="usuario_objeto"></td>
            </tr>
            <tr>
                <tr>
                  <td id="desc_objeto"></td>
                </tr>
                <tr>
                  
                </tr>
                <tr>
                  <td id="tipo"></td>
                </tr>
                 <tr>
                   <td id="dir_objeto"></td>
                </tr>
                <tr>
                  <td id="fecha_objeto"></td>
                </tr>          
            </tr> 
    </table>
  </div>
        <div class="col-md-4">
          <a class="btn btn-default btn-lg active back-app" data-lat="" data-lng="" role="button">  
            <img src="" id="ubicacion" class="img-rounded" height="200" width="200" />
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-default btn-lg active back-app" role="button">  
            <img src="" id="img_street" class="img-rounded" height="200" width="200" />
          </a>
        </div>
      </img>
    <div class="col-md-12 col-md-offset-3 loader">
           <div class="fb-comments" data-href="" data-numposts="5" data-colorscheme="light"></div>
    </div>
</div>

<!-- html Foto-->
<div ng-include="modalfoto"></div>  