<div class="marker-info-win hide">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-2">
			<h4 class="title-info" ><small> </small></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<a class="btn btn-default active show-foto" data-id="" role="button">
			<img src ="" alt="" class="img-rounded img-info" height="70" width="70" />
			</a>
		</div>
		<div class="col-sm-6 col-sm-offset-2">
			<p class="bg-info desc-info"></p>
		</div>
	</div>
		<div class="row">
			<div class="btn-group col-sm-offset-5">
				<button type="button" id="show-detalle" class="save-marker btn btn-default btn-basic.info">Detalles</button>
				<button type="button" class="remove-marker btn btn-default btn-basic.info hide" >
					Borrar
				</button>
			</div>
		</div>
</div>