<div class="modal fade" id="confirm-delete-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-title-borrar">
        <input type="hidden" class="confirma-borrar-hidden" value="" />
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro que deseas borrar el Missing <strong class="nombre_missing"></strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirma-borrar" >Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  