<div class="modal fade" id="modal-datos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Mientras más datos, más posibilidades de encontrar lo que buscas.</h4>
      </div>
      <form role="form" ng-submit="CrearObjeto()">
      <div class="modal-body">
          <input type="hidden" ng-model="obj.longitud" id="modal_long_obj" />
          <input type="hidden" ng-model="obj.latitud" id="modal_lat_obj" />
              <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" class="form-control" id="nombre-obj" ng-model="obj.nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <label for="inputFecha">Fecha</label>
               <input type="text" class="form-control input-date" ng-model="obj.fecha" placeholder="Fecha">
              </div>
              <div class="form-group">
                <label for="inputContacto">Telefono Contacto</label>
                <input type="text" class="form-control" ng-model="obj.contacto" placeholder="Telefono">
              </div>
              <div class="form-group">
                <label for="inputDescripcion">Descripción</label>
                <textarea class="form-control" id="descripcion-obj" rows="3" ng-model="obj.descripcion" placeholder="Descripción"></textarea>
              </div>
              <div class="form-group">
                <label for="inputFoto">Agrega Fotos</label>
                <input class="form-control" accept="image/*" id="imagen-obj" type="file" file-model="myFile"/>
              <ul class="list-group">
                <li class="list-group-item list-group-item-info" ng-repeat="file in files">{{file.name}}</li>
              </ul>
              </div>
               <div class="form-group">
                <label for="inputTipoObjeto">Tipo Objeto</label>
                <select class="form-control" id="tipo-obj" required>
                  <option value="0" selected>Selecciona una opción</option>
                  <option value="1">Objeto</option>
                  <option value="2">Animal</option>
                  <option value="3">Persona</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputRecompensa">¿Agregar Recompensa?</label>
                <input type="checkbox" id="recompensa_check" /> 
              </div>
              <div class="form-group div-recompensa hide">
                <label for="inputMonto">Monto</label>
                <input type="text" class="form-control" id="recompensa_text" ng-model="obj.recompensa" placeholder="Ingresa un monto" />
              </div>
              <div class="alert alert-success hide" id="alert-obj-creado" role="alert">Missing creado con exito!!!</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>



