<div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Comparte este Missing en las redes sociales e informa a tus amigos de tu perdida.</h4>
      </div>
      <div class="modal-body">
        <form role="form">
              <div class="form-group">
                <a data-id="" class="btn btn-primary share share-fb" target="_blank" alt="Share on Facebook"><i class="fa fa-facebook"></i> Compartit en Facebook</a>
              </div>
              <div class="form-group">
                <a data-id="" class="btn btn-info share share-tw" target="_blank" alt="Share on Twitter"><i class="fa fa-twitter"></i> Compartir en Twitter</a>
              </div>
              <div class="form-group">
                <a data-id="" class="btn btn-danger share share-go" target="_blank" alt="Share on Google+"><i class="fa fa-google-plus"></i> Compartir en Google+</a>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>  