<div class="modal fade" id="modal-detalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-title-detalle">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Missing</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="id_objeto" />
        <div class="panel panel-info">
          <div class="panel-heading" id="nom_objeto"></div>
          <!--<div class="panel-body">
          </div>-->
          <table class="table">
            <tr>
              <td>Imagen</td>
              <td>
                <img id="img_objeto" class="img-rounded" height="200" width="200" />
              </td>
            </tr> 
            <tr>
              <td>Ubicación</td>
              <td>
              <img src="" id="ubicacion" class="img-rounded" height="200" width="200" />
              </td>
            </tr> 
            <tr>
              <td>Descripción</td>
              <td id="desc_objeto"></td>
            </tr> 
            <tr>
              <td>Creado por</td>
              <td id="usuario_objeto"></td>
            </tr> 
            <tr>
              <td>Tipo</td>
               <td id="tipo"></td>
            </tr>
            <tr>
              <td>Dirección</td>
               <td id="dir_objeto"></td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td id="fecha_objeto"></td>
            </tr>
            <tr>
            <td>
               Comparte en
            </td>
            <td>
              <div class="form-group">
                <a data-id="" class="btn btn-primary share share-fb" target="_blank" alt="Share on Facebook">Facebook</a>
              </div>
              <div class="form-group">
                <a data-id="" class="btn btn-info share share-tw" target="_blank" alt="Share on Twitter">Twitter</a>
              </div>
               <div class="form-group">
                <a data-id="" class="btn btn-danger share share-go" target="_blank" alt="Share on Google+">Google+</a>
                </div>
            </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>