<div class="modal fade" id="modal-datos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Mientras más datos, más posibilidades de encontrar lo que buscas.</h4>
      </div>
      <div class="modal-body">
        <form role="form" ng-submit="CrearObjeto()">
          <input type="hidden" ng-model="obj.longitud" id="modal_long_obj" />
          <input type="hidden" ng-model="obj.latitud" id="modal_lat_obj" />
              <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" class="form-control" id="nombre-obj" ng-model="obj.nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <label for="inputFecha">Fecha</label>
               <input type="text" class="form-control input-date" ng-model="obj.fecha" placeholder="Fecha">
              </div>
              <div class="form-group">
                <label for="inputContacto">Telefono Contacto</label>
                <input type="text" class="form-control" ng-model="obj.contacto" placeholder="Telefono">
              </div>
              <div class="form-group">
                <label for="inputDescripcion">Descripción</label>
                <textarea class="form-control" id="descripcion-obj" rows="3" ng-model="obj.descripcion" placeholder="Descripción"></textarea>
              </div>




              <div class="form-group">
                <label for="inputFoto">Agrega Fotos</label>
                <input class="form-control" accept="image/*" id="imagen-obj" type="file" file-model="myFile"/>
              <ul class="list-group">
                <li class="list-group-item list-group-item-info" ng-repeat="file in files">{{file.name}}</li>
              </ul>
              </div>
              




               <div class="form-group">
                <label for="inputTipoObjeto">Tipo Objeto</label>
                <select class="form-control" id="tipo-obj" required>
                  <option value="0" selected>Selecciona una opción</option>
                  <option value="1">Objeto</option>
                  <option value="2">Animal</option>
                  <option value="3">Persona</option>
                </select>

              </div>
              <div class="form-group">
                <label for="inputRecompensa">¿Agregar Recompensa?</label>
                <input type="checkbox" id="recompensa_check" /> 
              </div>
              <div class="form-group div-recompensa hide">
                <label for="inputMonto">Monto</label>
                <input type="text" class="form-control" id="recompensa_text" ng-model="obj.recompensa" placeholder="Ingresa un monto" />
              </div>
              <div class="alert alert-success hide" id="alert-obj-creado" role="alert">Missing creado con exito!!!</div>
              <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <!--<form class="form-horizontal" role="form" id="datos-avanzados" ng-submit="CrearObjeto()">
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombre-obj" ng-model="obj.nombre" placeholder="Nombre" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha perdida</label>
            <div class="col-sm-10">
              <input type="text" class="form-control input-date" ng-model="obj.fecha" placeholder="Fecha" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Telefono Contacto</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="obj.contacto" placeholder="Telefono" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="descripcion-obj" rows="3" ng-model="obj.descripcion" placeholder="Descripción" required></textarea>
            </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Agrega una fotos</label>
              <div class="col-sm-10">
              <input type="file" class="form-control" id="imagen-obj" accept="image/*" ng-model="obj.foto">
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Tipo</label>
            <div class="col-sm-10">
              <select name="pType" class="save-type form-control tipo-alert" required>
                <option value="0">Selecciona una opción</option>
                <option value="1">Objeto</option>
                <option value="2">Animal</option>
                <option value="3">Persona</option>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="recompensa_check"> ¿Agregar Recompensa?
                </label>
              </div>
            </div>
          </div>
          <div class="form-group div-recompensa hide">
            <label class="col-sm-2 control-label">Monto</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="recompensa_text" ng-model="obj.recompensa" placeholder="Ingresa un monto">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Crear Missing</button>
            </div>
          </div>
          <div class="alert alert-success hide" id="alert-obj-creado" role="alert">Missing creado con exito!!!</div>
        </form>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



