<div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Comparte este Missing en las redes sociales e informa a tus contactos que estas buscando.</h4><small>Adicionalmente compartiremos esta publicación en nuestras redes sociales y abarcará a mucha más gente. Ya estas más cerca de encontrar lo que perdiste.</small>
      </div>
      <div class="modal-body">
        <form role="form" >
              <div class="form-group">
                <a href="javascript:fbshareCurrentPage()" data-id="" class="share-face" target="_blank" alt="Share on Facebook">Compartir en Facebook</a>
              </div>
              <!--<div class="form-group">
                <button type="submit" class="btn btn-default">Comparte en Twitter</button>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Comparte en Google+</button>
              </div>-->
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>  